@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@inject CashuStatusProvider CashuStatusProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    var isEnabled = await CashuStatusProvider.CashuEnabled(storeId);
    var isActive = Context.Request.Path.Value?.EndsWith("/cashu") == true;
    var isWalletActive = Context.Request.Path.Value?.EndsWith("/cashu/wallet") == true;
    var isSettingsActive = Context.Request.Path.Value?.EndsWith("/cashu/settings") == true;
            
    <li class="nav-item">
        <a class="nav-link @(isActive ? "active" : "")"
           asp-route-storeId="@storeId"
           asp-action="StoreConfig"
           asp-controller="Cashu">
            <span class="me-2 btcpay-status btcpay-status--@(isEnabled ? "enabled" : "pending")"></span>
            <span>Cashu</span>
        </a>
    </li>
    @if (isActive || isWalletActive || isSettingsActive && isEnabled) 
    {
        <li class="nav-item nav-item-sub">
            <a class="nav-link @(isWalletActive ? "active" : "")"
               asp-route-storeId="@storeId"
               asp-action="CashuWallet"
               asp-controller="Cashu">
                <span class="me-2">Wallet</span>
            </a>
        </li>
        <li class="nav-item nav-item-sub">
            <a class="nav-link @(isSettingsActive ? "active" : "")"
               asp-route-storeId="@storeId",
               asp-controller="Cashu"
               asp-action="Settings">
                <span class="me-2">Settings</span>
            </a>
        </li>
        
    }
}